{% extends 'base.html' %}
{% block title %}Ajouter une nouvelle publication{% endblock %}
{% load crispy_forms_tags %}


{% block content %}

{% if user.is_authenticated %}

<h1>Ajouter une publication</h1>
    <br/><br/>
<div class="form-group">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <br/><br/>
    <button class="btn btn-dark" type="submit">Publier</button>
</form>
</div>
<script>
	var name = "{{ user.id }}";
	document.getElementById("elder").value
		= name
</script>

{% else %}
       <h2>Vous n'&egrave;etes pas autoris&eacute;(e) &agrave; ex&eacute;cuter cette action.</h2>

{% endif %}

{% endblock %}
