{% extends 'base.html' %}
{% block title %}Editer Cat&eacute;gorie{% endblock %}


{% block content %}
{% if user.is_superuser %}
    <h1>Editer Cat&eacute;gorie</h1>
        <br/><br/>
    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark" type="submit">Editer</button>
    </form>
    </div>
{% else %}
       <h2>Vous n'&egrave;etes pas autoris&eacute;(e) &agrave; ex&eacute;cuter cette action.</h2>

{% endif %}
{% endblock %}
